body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #1f1c1c;
  background-color: #f7f7f7;
}

h1 {
  color: white;
  font-family: "Baloo 2", cursive;
  font-weight: 700;
}

h2,
h3 {
  font-family: "Baloo 2", cursive;
  font-weight: 700;
  color: #1f1c1c;
}

header {
  background-color: #ff6b00;
  padding: 16px 32px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-content {
  max-width: 1440px;
}
.header-content img {
  height: 80px;
  width: auto;
}

.hero-container {
  position: relative; /*relative means, this container is point of reference for absolute positioned child-elements; all absolute postioned child-elements (like overlay-text will be aligned to hero-container.  */
  height: 400px; /*fixed height of hero*/
  overflow: hidden; /*img gets got to size of 300px*/
  max-width: 1440px;
  margin: 0 auto; /*keeps container centered above width: 1440px;*/
}

.hero-container img {
  object-fit: cover; /*aligns img to the center without distortion*/
  display: block; /*img is standard inline-block element, gaps possible; with display: block; it takes whole width/height of container*/
  width: 100%;
  height: 100%;
}

.hero-overlay {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  width: 100%;
}

.hero-overlay h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 8px;
}

.star-review {
  margin-left: 16px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fafafa;
}
.product-ctg-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 24px;
  overflow-x: auto; /*gets scrollbar, if content does not fit container*/
  /* white-space: nowrap; prevents line break */
}

.product-ctg-container ul {
  display: inline-flex;
  list-style: none;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.product-container {
  max-width: 1440px;
  margin: 0 auto;
  margin-left: 16px;
  margin-right: 16px;
}

.single-product-display {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 32px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08), 0 8px 16px rgba(0, 0, 0, 0.06);
  margin-bottom: 16px;
}

.single-product-display img {
  height: 80px;
  width: auto;
  border-radius: 8px;
}

.single-product-info {
  display: flex;
  flex-direction: column;
}

.description {
  color: rgb(110, 107, 107);
  margin-bottom: 16px;
}

.single-product-info h3 {
  color: rgb(31, 28, 28);
}

.price {
  font-weight: bold;
}

.single-product-display .btn-to-basket {
  margin-left: auto; /*takes as much space between to first items in container*/
}
