body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #1f1c1c;
  background-color: #f7f7f7;
  margin: 0;
}

h1 {
  color: white;
  font-family: "Baloo 2", cursive;
  font-weight: 700;
}

h2,
h3 {
  font-family: "Baloo 2", cursive;
  font-weight: 700;
  color: #1f1c1c;
}

header {
  background-color: #ff6b00;
  padding: 16px 32px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-content {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

.header-content img {
  height: 80px;
  width: auto;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}

/* Flex-Items haben standardmäßig min-width: auto; Mindestbreite ist Contentbreite, so viel wie benötigt wird;
der übergeordnete wrapper content-colum oder wrapper stehen auch auf standard min-width auto, und erlauben damit nicht 
untergeordneten containern unter die benötigte breite zu schrumpfen. Daher müssen auch diese auf min-width: 0; gesetzt werden
Erlaubt dem Content-Strang, wirklich zu schrumpfen */
/* .wrapper > * {
  min-width: 0;
}   das gleich wie, siehe unten...*/

.content-column {
  min-width: 0;
}

.cart-container {
  min-width: 0;
  position: sticky;
  top: 100px;
}

.hero-container {
  position: relative; /*relative means, this container is point of reference for absolute positioned child-elements; all absolute postioned child-elements (like overlay-text will be aligned to hero-container.  */
  height: 400px; /*fixed height of hero*/
}

.hero-container img {
  object-fit: cover; /*aligns img to the center without distortion*/
  display: block; /*img is standard inline-block element, gaps possible; with display: block; it takes whole width/height of container*/
  width: 100%;
  height: 100%;
}

.hero-overlay {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  width: 100%;
}

.hero-overlay h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 8px;
}

.hero-overlay span {
  margin-right: 32px;
}

.restaurant-info {
  display: flex;
  flex-wrap: wrap;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fafafa;
}
.product-ctg-container {
  padding: 16px 24px;
  overflow-x: auto; /*gets scrollbar, if content does not fit container*/
  /* white-space: nowrap; prevents line break */
}

.product-ctg-container ul {
  display: inline-flex;
  list-style: none;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.content-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-container {
  max-width: 100%;
  margin: 30px;
}

.single-product-display {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 32px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08), 0 8px 16px rgba(0, 0, 0, 0.06);
  margin-bottom: 16px;
}

.single-product-display img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.single-product-info {
  flex: 1;
  /* müssen die? */
  overflow-wrap: anywhere;
  word-break: break-word;
  hyphens: auto;
}

.description {
  color: rgb(110, 107, 107);
  margin-bottom: 16px;
}

.single-product-info h3 {
  color: rgb(31, 28, 28);
  line-height: 1rem;
  margin-bottom: 8px;
}

.price {
  font-weight: bold;
}

.single-product-display .btn-to-basket {
  margin-left: auto; /*takes as much space between to first items in container*/
  flex-shrink: 0;
}

.cart-item-controls span {
  padding-left: 8px;
  padding-right: 8px;
}

.dialog-placed-order[open] {
  display: flex;
  flex-direction: column; /* Inhalte stapeln */
  align-items: center; /* horizontal zentrieren */
  justify-content: center; /* vertikal zentrieren, optional */
  font-size: 24px;
  position: fixed; /* top layer verlässlich */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0; /* verhindert UA-Autolayout */
  border: none;
  border-radius: 8px;
  padding: 1rem 1.25rem;
  max-width: 90vw;
  max-height: 80vh;
  overflow: auto; /* falls Inhalt groß wird */
}

.dialog-placed-order::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialog-placed-order p {
  text-align: center;
}

footer {
  background-color: rgb(225, 225, 225);
  height: 100px;
}
