aside {
  flex: 3;
}

.cart-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 8px 16px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08), 0 8px 16px rgba(0, 0, 0, 0.06);
  /* border-bottom: 1px solid #ddd; */
}

.cart-item-controls {
  display: flex;
  align-items: center;
  justify-content: space-between; /* distributes elements evenly */
  gap: 1rem;
}

.cart-item-controls div {
  display: flex;
  align-items: center;
  gap: 1rem; /* Abstand zwischen - Zahl + */
}

.cart-item-controls span {
  display: inline-block; /*needed for min-width to work*/
  min-width: 3ch; /*space for 3 digits*/
  text-align: center; /*number stays centered*/
  padding: 0 4px; /*also needed*/
}

.billing-row {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08), 0 8px 16px rgba(0, 0, 0, 0.06);
  padding: 8px 16px;
}
