.cart {
  display: none;
  flex: 0 0 320px;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  position: sticky;
  align-self: flex-start;
  height: fit-content;
  z-index: 10;
  top: calc(112px + 16px);
  max-height: calc(100vh - (112px + 16px));
}

.cart.is-open {
  display: flex; /*only what changes is put in toggle*/
}

.cart-icon {
  fill: white;
  width: 48px;
  height: 48px;
}

.cart-display {
  flex: 1; /*fills space*/
  overflow-y: auto; /*scrollbar for many items in cart*/
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
}

.billing-summary {
  list-style: none;
  margin: 0;
  padding: 16px;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08), 0 8px 16px rgba(0, 0, 0, 0.06);
  font-size: 14px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 16px;
  background-color: white;
  box-sizing: border-box;
  /* border-bottom: 1px solid #ddd; */
}

.cart-item-controls {
  display: flex;
  align-items: center;
  justify-content: space-between; /* distributes elements evenly */
  gap: 1rem;
  width: 100%;
}

.cart-item-controls div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-item-controls span {
  display: inline-block; /*needed for min-width to work*/
  min-width: 3ch; /*space for 3 digits*/
  text-align: center; /*number stays centered*/
  padding: 0 4px; /*also needed*/
}

.billing-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 8px 16px;
  box-sizing: border-box;
}

.total {
  border-top: 2px solid #ddd;
  margin-top: 0.5rem;
  font-weight: bold;
}

.empty-cart-note {
  display: none;
}

.empty-cart-note.visible {
  display: block;
  color: rgb(110, 107, 107);
  text-align: center;
  margin-top: 48px;
  margin-bottom: 24px;
}

.empty-cart-note p {
  max-width: 70%;
  text-align: center;
  margin: 0 auto;
}

.empty-cart-note h3 {
  color: rgb(110, 107, 107);
}

.responsive-cart-button-container {
  display: none;
}
